.text-block-curved {
    color: var(--color-primary);
}

.text-block-curved p {
    color: var(--color-base);
    font-family: var(--font-paras);
    font-size: var(--font-24);
  }

.text-block-curved p.text-chunk {
    margin: 1rem 0 3rem 0;
    line-height: 2rem;
    word-spacing: 0.2rem;
    text-align: justify;
}

.page-buttons {
    margin: 2rem;
}

.page-buttons ul {
    list-style: none;
    margin: 5rem 0 0 0;
    padding: 0;
}

.page-buttons li {
    margin-right: 1rem;
}

.button-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--font-headers);
    font-size: var(--font-30);
    font-weight: bold;
    color: var(--color-secondary);
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-decoration: none;
    margin-bottom: 1rem;
}