.logo {
    color: var(--color-base);
}

#contact-body {
    background-color: var(--color-primary);
}

.page-title#contact {
    color: var(--color-base);
}

.text-block-curved#contact{
    background-color: var(--color-secondary);
    padding-bottom: 5rem;
}

.text-block-curved ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-block-curved li {
    margin: 2rem 1rem 1.5rem 1rem;
}

.text-block-curved i:first-child {
    margin-top: 1rem;
}

.contact-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-30);
    font-family: var(--font-paras);
    font-weight: var(--font-weight-medium);
    color: var(--color-base);
    text-decoration: none;
}

.contact-btn a { /* text */
    color: var(--font-base);
    font-family: var(--font-paras);
    margin-left: 10px;
    font-weight: bold;
}

.contact-btn i { /* icon */
    margin-right: 1rem;
    font-size: var(--font-30);
    font-weight: bold;
}