.home-title {
    color: var(--color-primary);
    line-height: 0.9;
    letter-spacing: 0.15rem;
    font-family: var(--font-headers);
    text-transform: uppercase;
    text-align: left;
}

.home-title span {
    text-align: right;
    display: block;
}

img {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* FIRST SET OF PICTURES */
.picture-block {
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.cover-image {
    border-radius: 20px;
    margin: 3rem 0 5rem 0;
    grid-area: 1 / 1 / 7 / 10;
}

.circle-85#index-1 {
    background-color: var(--color-primary);
    grid-area: 5 / 4 / 8 / 6;
}

.cover-image-2 {
    grid-area: 5 / 5 / 9 / 10;
    border-radius: 20px;
}

/* SECOND SET OF PICTURES */
.cover-image-3 {
    grid-area: 3 / 2 / 8 / 6;
    border-radius: 20px;
}

.circle-230#index-1 {
    background-color: var(--color-secondary);
    grid-area: 2 / 4 / 6 / 9;
}

.circle-85#index-2 {
    background-color: var(--color-primary);
    grid-area: 5 / 8 / 7 / 10;
}

.subtitle {
    color: var(--color-white);
    font-family: var(--font-italic);
    font-weight: var(--font-weight-light);
    font-style: italic;
    margin: 0.5rem 1rem 0rem 1rem;
}

.subtitle span {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}

/* CURRENT PROJECTS AND CONTACT BUTTONS */
.current-project-section h2 {
    color: var(--color-primary);
    font-family: var(--font-paras);
    font-size: var(--font-30);
    align-items: center;
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 1rem 1rem 0;
}

.current-project-section p {
    color: var(--color-white);
    font-family: var(--font-paras);
    font-size: var(--font-24);
    align-items: center;
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 1rem 1rem 0;
}

.contact-section ul{
    margin: 0;
}

.contact-btn {
    background: none;
    border: none;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 1rem 1rem 0;
    font-size: var(--font-24);
    font-family: var(--font-paras);
    cursor: pointer;
    color: var(--color-white);
    display: flex;
    text-decoration: none;
}

.contact-btn a {
    color: var(--color-white);
    font-family: var(--font-paras);
    margin-left: 10px;
    font-weight: bold;
}

.contact-btn i {
    margin-right: 1rem;
    font-size: var(--font-24);
}

.page-buttons {
    margin: 2rem;
}

.page-buttons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-buttons li {
    margin-right: 1rem;
}

.button-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--font-subheaders);
    font-weight: bold;
    color: var(--color-secondary);
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-decoration: none;
    margin-bottom: 1rem;
}

.page-half {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
}


/* MOBILE SCREENS */
@media screen and (max-width: 365px) {
    .home-title {
        font-size: 4.5rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 50px;
        height: 50px;
    }

    .circle-85#index-2 {
        width: 50px;
        height: 50px;
    }

    .circle-230#index-1 {
        width: 150px;
        height: 150px;
    }

    .subtitle {
        font-size: var(--font-20);
    }
    
    .subtitle span {
        font-size: var(--font-24);
    }

    .button-item {
        font-size: var(--font-24);
    }
}

@media screen and (min-width: 365px) and (max-width: 425px) {
    .home-title {
        font-size: 5.5rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 55px;
        height: 55px;
    }

    .circle-85#index-2 {
        width: 50px;
        height: 50px;
    }

    .circle-230#index-1 {
        width: 150px;
        height: 150px;
    }

    .button-item {
        font-size: var(--font-30);
    }
}

@media screen and (min-width: 425px) and (max-width: 480px){
    .home-title {
        font-size: 6rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 65px;
        height: 65px;
    }

    .circle-85#index-2 {
        width: 50px;
        height: 50px;
    }

    .circle-230#index-1 {
        width: 200px;
        height: 200px;
    }

    .button-item {
        font-size: var(--font-30);
    }
}

@media screen and (min-width: 480px) and (max-width: 510px){
    .home-title {
        font-size: 6.55rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 75px;
        height: 75px;
    }

    .circle-85#index-2 {
        width: 50px;
        height: 50px;
    }

    .circle-230#index-1 {
        width: 200px;
        height: 200px;
    }

    .subtitle {
        font-size: var(--font-20);
    }
    
    .subtitle span {
        font-size: var(--font-24);
    }

    .button-item {
        font-size: var(--font-30);
    }
}

@media screen and (min-width: 510px) and (max-width: 570px){
    .home-title {
        font-size: 8rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 80px;
        height: 80px;
    }

    .circle-85#index-2 {
        width: 60px;
        height: 60px;
    }

    .circle-230#index-1 {
        width: 250px;
        height: 250px;
    }

    .subtitle {
        font-size: var(--font-36);
    }
    
    .subtitle span {
        font-size: var(--font-48);
    }

    .button-item {
        font-size: var(--font-30);
    }
}

@media screen and (min-width: 570px) and (max-width: 710px){
    .home-title {
        font-size: 10rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 90px;
        height: 90px;
    }

    .circle-230#index-1 {
        width: 300px;
        height: 300px;
    }

    .subtitle {
        font-size: var(--font-36);
    }
    
    .subtitle span {
        font-size: var(--font-48);
    }

    .button-item {
        font-size: var(--font-36);
    }
}
 /* TABLET SCREENS */
@media screen and (min-width: 710px) and (max-width: 820px){
    .home-title {
        font-size: 11.75rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 95px;
        height: 95px;
    }

    .circle-230#index-1 {
        width: 325px;
        height: 325px;
    }

    .cover-image-2 {
        grid-area: 5 / 5 / 9 / 10;
    }

    .subtitle {
        font-size: var(--font-36);
    }
    
    .subtitle span {
        font-size: var(--font-48);
    }

    .button-item {
        font-size: var(--font-48);
    }

    .cover-image {
        grid-area: 1 / 1 / 7 / 9;
    }
}

@media screen and (min-width: 820px) and (max-width: 880px){
    .home-title {
        font-size: 13.5rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 110px;
        height: 110px;
    }

    .circle-230#index-1 {
        width: 230px;
        height: 230px;
    }

    .circle-85#index-2 {
        width: 100px;
        height: 100px;
    }

    .subtitle {
        font-size: var(--font-36);
    }
    
    .subtitle span {
        font-size: var(--font-48);
    }

    .button-item {
        font-size: var(--font-58);
    }

    .cover-image {
        grid-area: 1 / 1 / 7 / 9;
    }

    .cover-image-3 {
        grid-area: 2 / 2 / 8 / 7;
    }

    .circle-230#index-1 {
        grid-area: 1 / 4 / 6 / 9;
    }

    .page-half {
        padding-top: 2rem;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .picture-block {
        grid-area: 1 / 1 / 2 / 2;
    }

    .page-buttons {
        grid-area: 1 / 2 / 2 / 3;
    }

    .button-title {
        font-size: var(--font-36);
    }
}

@media screen and (min-width: 840px) and (max-width: 1024px){
    .home-title {
        font-size: 14rem;
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 125px;
        height: 125px;
    }

    .circle-230#index-1 {
        width: 230px;
        height: 230px;
    }

    .circle-85#index-2 {
        width: 100px;
        height: 100px;
    }

    .subtitle {
        font-size: var(--font-48);
    }
    
    .subtitle span {
        font-size: var(--font-58);
    }

    .button-item {
        font-size: var(--font-58);
    }

    .cover-image {
        grid-area: 1 / 1 / 7 / 9;
    }

    .cover-image-2 {
        grid-area: 5 / 5 / 9 / 10;
    }

    .cover-image-3 {
        grid-area: 2 / 2 / 8 / 7;
    }

    .circle-230#index-1 {
        grid-area: 1 / 4 /6 / 9;
    }

    .page-half {
        padding-top: 2rem;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .picture-block {
        grid-area: 1 / 1 / 2 / 2;
    }

    .page-buttons {
        grid-area: 1 / 2 / 2 / 3;
    }

    .button-title {
        font-size: var(--font-36);
    }
}


/* LAPTOP SCREENS */

@media screen and (min-width: 1024px) and (max-width: 1405px){
    .home-title {
        font-size: var(--font-250);
        margin: 0 0.75rem 0 1.25rem;
    }

    .circle-85#index-1 {
        width: 145px;
        height: 145px;
    }

    .circle-230#index-1 {
        width: 350px;
        height: 350px;
    }

    .circle-85#index-2 {
        width: 100px;
        height: 100px;
    }

    .subtitle {
        font-size: var(--font-48);
    }
    
    .subtitle span {
        font-size: var(--font-58);
    }

    .button-item {
        font-size: var(--font-68);
    }

    .cover-image {
        grid-area: 1 / 1 / 7 / 7;
    }

    .cover-image-2 {
        grid-area: 4 / 6 / 9 / 10;
    }

    .circle-85#index-1 {
        grid-area: 6 / 4 / 10 / 6;
    }

    .cover-image-3 {
        grid-area: 2 / 2 / 8 / 7;
    }

    .circle-230#index-1 {
        grid-area: 1 / 4 /6 / 9;
    }

    .page-half {
        padding-top: 2rem;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .picture-block {
        grid-area: 1 / 1 / 2 / 2;
    }

    .page-buttons {
        grid-area: 1 / 2 / 2 / 3;
    }

    .button-title {
        font-size: var(--font-36);
    }
}

@media screen and (min-width: 1405px) {
    .home-title {
        font-size: var(--font-250);
        padding: 3rem 0 1rem 0;
        margin: 3rem 0.75rem 2rem 1.25rem;
    }

    .home-title span {
        display: inline;
    }

    .circle-85#index-1 {
        width: 200px;
        height: 200px;
    }

    .circle-230#index-1 {
        width: 400px;
        height: 400px;
    }

    .circle-85#index-2 {
        width: 100px;
        height: 100px;
    }

    .subtitle {
        font-size: var(--font-48);
    }
    
    .subtitle span {
        font-size: var(--font-58);
    }

    .button-item {
        font-size: var(--font-68);
    }

    .cover-image {
        grid-area: 1 / 1 / 7 / 7;
    }

    .cover-image-2 {
        grid-area: 4 / 6 / 9 / 10;
    }

    .circle-85#index-1 {
        grid-area: 6 / 4 / 10 / 6;
    }

    .cover-image-3 {
        grid-area: 2 / 2 / 8 / 7;
    }

    .circle-230#index-1 {
        grid-area: 1 / 4 /6 / 9;
    }

    .page-half {
        padding-top: 2rem;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .picture-block {
        grid-area: 1 / 1 / 2 / 2;
    }

    .page-buttons {
        grid-area: 1 / 2 / 2 / 3;
    }

    .button-title {
        font-size: var(--font-58);
    }
}