.home-title {
    color: var(--color-primary);
    line-height: 0.9;
    letter-spacing: 0.15rem;
    font-family: var(--font-headers);
    font-size: 6.25rem;
    margin: 0 0.75rem 0 1.25rem;
    text-transform: uppercase;
    text-align: left;
}

.home-title span {
    text-align: right;
    display: block;
}

img {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* FIRST SET OF PICTURES */
.picture-block {
    width: 100vw;
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.cover-image {
    border-radius: 20px;
    margin: 3rem 0 5rem 0;
    grid-area: 1 / 1 / 7 / 10;
}

.circle-85#index-1 {
    background-color: var(--color-primary);
    grid-area: 5 / 4 / 8 / 6;
}

.cover-image-2 {
    grid-area: 5 / 5 / 9 / 10;
    border-radius: 20px;
}

/* SECOND SET OF PICTURES */
.cover-image-3 {
    grid-area: 3 / 2 / 8 / 6;
    border-radius: 20px;
}

.circle-230#index-1 {
    background-color: var(--color-secondary);
    grid-area: 2 / 4 / 6 / 9;
}

.circle-85#index-2 {
    background-color: var(--color-primary);
    grid-area: 5 / 8 / 7 / 10;
}

.subtitle {
    color: var(--color-white);
    font-family: var(--font-italic);
    font-weight: var(--font-weight-light);
    font-size: var(--font-24);
    font-style: italic;
    margin: 0.5rem 1rem 0rem 1rem;
}

.subtitle span {
    color: var(--color-primary);
    font-size: var(--font-30);
    font-weight: var(--font-weight-bold);
}

/* CURRENT PROJECTS AND CONTACT BUTTONS */
.current-project-section h2 {
    color: var(--color-primary);
    font-family: var(--font-paras);
    font-size: var(--font-30);
    align-items: center;
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 1rem 1rem 0;
}

.current-project-section p {
    color: var(--color-white);
    font-family: var(--font-paras);
    font-size: var(--font-24);
    align-items: center;
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 1rem 1rem 0;
}

.contact-section ul{
    margin: 0;
}

.contact-btn {
    background: none;
    border: none;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0 1rem 1rem 0;
    font-size: var(--font-24);
    font-family: var(--font-paras);
    cursor: pointer;
    color: var(--color-white);
    display: flex;
    text-decoration: none;
}

.contact-btn a {
    color: var(--color-white);
    font-family: var(--font-paras);
    margin-left: 10px;
    font-weight: bold;
}

.contact-btn i {
    margin-right: 1rem;
    font-size: var(--font-24);
}

.page-buttons {
    margin: 2rem;
}

.page-buttons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-buttons li {
    margin-right: 1rem;
}

.button-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--font-subheaders);
    font-size: var(--font-32);
    font-weight: bold;
    color: var(--color-secondary);
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-decoration: none;
    margin-bottom: 1rem;
}