header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1000;
  margin-left: 0.25rem;
}

header label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  height: 2rem;
  width: auto;
  z-index: 1001;
  margin-left: 0;
  position: relative;
}

header label span {
  border-radius: 5px;
  display: block;
  height: 0.5rem;
  width: 2rem;
  background-color: var(--color-secondary);
  position: relative;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

header label span:nth-child(1),
header label span:nth-child(2),
header label span:nth-child(3) {
  transform: translateX(0);
}

.nav-toggle:checked~.nav-toggle-label span:nth-child(2) {
  transform: translateX(0.4rem);
}

.nav-toggle:checked~.nav-toggle-label span:nth-child(3) {
  transform: translateX(0.8rem);
}

nav {
  background: var(--color-secondary);
  height: 100vh;
  width: 20rem;
  position: fixed;
  left: -375px;
  top: 0;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 2rem;
}

nav ul li {
  font-family: var(--font-paras);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

nav ul li:first-child {
  font-family: var(--font-headers);
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

nav ul li a {
  color: var(--color-base);
  text-decoration: none;
}

.nav-toggle-label span {
  background-color: var(--color-secondary);
}

.nav-toggle:checked ~ nav {
  left: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background-color: var(--color-base);
}

.logo-link {
  text-decoration: none;
}

.logo {
  color: var(--color-icon);
  font-family: var(--font-headers);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.13rem;
  margin-left: 1rem;
  text-align: right;
  text-decoration: none;
}
