.picture-block {
    width: 100vw;
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img {
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.project-page-heading {
    font-family: var(--font-subheaders);
    font-size: var(--font-30);
    text-align: left;
    padding: 1rem 1rem 0 1.5rem;
    margin: 1rem 1rem 0 1.5rem;
}

.project-page-heading#current {
    color: var(--color-white);
    padding-top: 2rem;
}

.current-photo {
    border-radius: 20px;
    margin: 3rem 0 5rem 0;
    grid-area: 1 / 2 / 6 / 9;
    z-index: 2;
}

.circle-230#index-1 {
    background-color: var(--color-secondary);
    grid-area: 3 / 5 / 7 / 10;
    z-index: 1;
}

.circle-71#index-1 {
    background-color: var(--color-primary);
    grid-area: 6 / 2 / 8 / 3;
}

.project-page-heading#past {
    color: var(--color-white);
    text-transform: uppercase;
}

.projects-block {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.circle-230#index-2 {
    background-color: var(--color-secondary);
    grid-area: 5 / 1 / 8 / 4;
}

.circle-85#index-1 {
    background-color: var(--color-primary);
    grid-area: 2 / 7 / 4 / 9;
}

.circle-85#index-2 {
    background-color: var(--color-primary);
    grid-area: 8 / 8 / 10 / 10;
}

.projects-button-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: 1 / 2 / 9 / 9;
}

.projects-button-list li button {
    background: var(--color-white);
    opacity: 50%;
    border: none;
    border-radius: 25px;
    padding: 3rem 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
    width: 95vw;

    font-size: var(--font-24);
    color: var(--color-white);
}

.back-link {
    margin: 1rem;
    font-family: 'Inter';
    color: var(--color-secondary);
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: right;
}

.text-block-curved#project-video {
    padding: 1.75rem 0;
}

.project-video {
    margin-bottom: 1rem;
}

.film-description {
    font-size: var(--font-24);
    color: var(--color-base);
    font-family: var(--font-paras);
}

.vimeo-container {
    position: relative;
    padding: 56.25% 0 0 0;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.vimeo-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
