.picture-block {
    border-radius: 0.5rem;
    width: 100vw;
    padding-bottom: 2rem;
  }

.project-page-heading {
    font-family: var(--font-headers);
    font-size: var(--font-40);
    padding: 1rem;
    margin: 1rem;
}

.current-description {
    color: var(--color-white);
    font-family: var(--font-paras);
    font-size: var(--font-24);
    text-align: center;
    padding-bottom: 1rem;
}

.project-page-heading#current {
    color: var(--color-white);
    padding-top: 2rem;
}

.project-page-heading#past {
    color: var(--color-white);
    text-transform: uppercase;
}

.projects-button-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects-button-list li button {
    background: rgb(39, 33, 13, 0.75);
    border: none;
    border-radius: 10px;
    padding: 3rem 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
    width: 95vw;

    font-size: var(--font-24);
    color: var(--color-white);
}

.back-link {
    margin: 1rem;
    font-family: 'Inter';
    color: var(--color-secondary);
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: right;
}

.text-block-curved#project-video {
    padding: 1.75rem 0;
}

.project-video {
    margin-bottom: 1rem;
}

.current-photo {
    width: 100vw;
}

.film-description {
    font-size: var(--font-24);
    color: var(--color-base);
    font-family: var(--font-paras);
}

.vimeo-container {
    position: relative;
    padding: 56.25% 0 0 0;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.vimeo-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
