.resume-block {
  padding: 1.5rem;
  margin: 1rem;

  p {
    margin: 0;
    color: var(--color-white);
    font-family: var(--font-paras);
    font-size: var(--font-24);
    line-height: 1.75rem;
    text-align: left;
  }
}

.resume-subtitle {
  color: var(--color-title);
  font-family: var(--font-subheaders);
  font-size: var(--font-30);
}

.resume-subtitle-white {
  color: var(--color-base);
  font-family: var(--font-subheaders);
  font-size: var(--font-30);
}

.text-block-curved {
  background-color: var(--color-secondary);
  padding: 1.5rem;
  margin: 1rem;
}

.text-block-curved p {
  color: var(--color-base);
  font-family: var(--font-paras);
  font-size: var(--font-24);
  line-height: 1.75rem;
  text-align: left;
}


.resume-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 652px) {
  .resume-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "one three"
        "two four";
  }

  .resume-block:nth-child(1) { grid-area: one; }
  .resume-block:nth-child(2) { grid-area: two; }
  .resume-block:nth-child(3) { grid-area: four; }
  .resume-block:nth-child(4) { grid-area: three; }
}